.avatar {
    border-radius: 50%;
    margin: 0 2px;
}

.avatar-lg {
    height: 9rem;
    width: 9rem;
}

.avatar-md {
    height: 6rem;
    width: 6rem;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-xs {
    height: 1.5rem;
    width: 1.5rem;
}