.btn {
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.btn-primary {
    color: var(--white);
    background: var(--primary-color);
    border-color: var(--primary-border);

}

.btn-secondary {
    color: var(--white);
    background: var(--secondary-color);
    border-color: var(--secondary-border);
}

.btn-success {
    color: var(--white);
    background: var(--success-color);
    border-color: var(--success-border);
}

.btn-danger {
    color: var(--white);
    background: var(--danger-color);
    border-color: var(--danger-border);
}

.btn-warning {
    color: var(--white);
    background: var(--warning-color);
    border-color: var(--warning-border);
}

.btn-light {
    background: var(--light-background);
    border-color: var(--light-border);
}

.btn-outline {
    background: transparent;
}

.btn-outline:hover {
    background: var(--white);
}

.btn-outline-primary {
    background: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    background: var(--primary-color);
    border-color: var(--primary-border);
    color: var(--white);
}

.btn-outline-secondary {
    background: transparent;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-border);
    color: var(--white);
}

.btn-outline-success {
    background: transparent;
    border-color: var(--success-color);
    color: var(--success-color);
}

.btn-outline-success:hover {
    background: var(--success-color);
    border-color: var(--success-border);
    color: var(--white);
}

.btn-outline-danger {
    background: transparent;
    border-color: var(--danger-color);
    color: var(--danger-color);
}

.btn-outline-danger:hover {
    background: var(--danger-color);
    border-color: var(--danger-border);
    color: var(--white);
}
.btn-outline-warning {
    background: transparent;
    border-color: var(--warning-color);
    color: var(--warning-color);
}

.btn-outline-warning:hover {
    background: var(--warning-color);
    border-color: var(--warning-border);
    color: var(--white);
}

.btn-outline-light {
    background: transparent;
    border-color: var(--light-color);
    color: var(--light-color);
}

.btn-outline-light:hover {
    background: var(--light-color);
    border-color: var(--light-border);
    color: var(--white);
}

/* css for mobile responsive */
@media only screen and (max-width: 600px) {
    .btn, .btn-outline {
        padding: 0.5rem;
        font-size: 1rem;
    }

}