.card {
    background-color: var(--white);
    overflow: hidden;
    box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
    min-height: 15rem;
    width: 15rem;
}

.card:hover {
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.6);
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card-round-corner {
    border-radius: 1rem;
}

.card-container {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0.8em;
}

.card-container .product-name {
    font-size: 1rem;
    line-height: 1.2rem;
}

.card-container .product-owner {
    color: var(--light-color);
    font-size: 0.8rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.card-container .product-ratings {
    color: var(--focus-color);
    font-size: 1rem;
}

.card-container .product-ratings span {
    color: var(--font-color);
}

.card-container .product-price {
    font-family: "Suranna", serif;
    font-size: 1.5rem;
    padding: none;
}

.card-container .product-add-to-cart-btn {
    padding: 0.2em 0.5em;
    margin-right: 1rem;
    background-color: var(--focus-color);
    color: var(--white);
    border-color: none;
}

.card-container .product-add-to-cart-btn:hover {
    background-color: var(--focus-liter-color);
}

.card-container .product-wish-btn {
    border: 2px solid var(--font-color);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.card-container .product-wish-btn:hover {
    border-color: var(--default-color);
}

.card-container .product-wish-btn i {
    font-size: 1.5rem;
    color: var(--font-color);
}

.card-horizontal {
    display: flex;
    flex-direction: row;
    width: 60rem;
    min-height: 25rem;
}

.card-horizontal img {
    width: 50%;
    object-fit: cover;
}

.card-horizontal .card-container {
    padding: 2rem;
    width: 50%;
}

.card-horizontal .card-container .product-name {
    color: var(--font-color);
    font-size: 3rem;
    font-family: "Bentham", serif;
}

.card-horizontal .card-container .product-owner {
    color: var(--light-color);
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.card-horizontal .card-container .product-description {
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

.card-horizontal .card-container .product-price {
    font-family: "Suranna", serif;
    font-size: 2rem;
    font-weight: lighter;
}

/* mobile responsive */
@media only screen and (max-width: 600px) {
    .card-horizontal {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 5rem;
    }

    .card-horizontal .card-container {
        padding: 0.5rem;
    }

    .card-horizontal .card-container .product-name {
        font-size: 1.5rem;
    }

    .card-horizontal .card-container .product-owner {
        font-size: 0.5rem;
    }

    .card-horizontal .card-container .product-description {
        font-size: 0.5rem;
    }

    .card-horizontal .card-container .product-price {
        font-size: 1rem;
    }
}