:root {
    --defaul-color: #0000;
    --font-color: #474747;
    --blue: #081F62;
    --white: #ffffff;
    --body-color: #E7E9F0;
    --hover-color: #01227ef6;
    --text-color: #3e4152;
    --focus-color: #DA3232;
    --focus-liter-color: #d34949;

    /* primary color for different types compoents */
    --primary-color: #004085;
    --primary-background: #cce5ff;
    --primary-border: #b8daff;

    /* secondary color for different types compoents */
    --secondary-color: #383d41;
    --secondary-background: #e2e3e5;
    --secondary-border: #d6d8db;

    /* success color for different types compoents */
    --success-color: #155724;
    --success-background: #d4edda;
    --success-border: #c3e6cb;

    /* danger color for different types compoents */
    --danger-color: #b10617;
    --danger-background: #f8d7da;
    --danger-border: #f5c6cb;

    /* warning color for different types compoents */
    --warning-color: #d39f04;
    --warning-background: #fff3cd;
    --warning-border: #ffeeba;

    /* light color for different types compoents */
    --light-color: #818182;
    --light-background: #dfdfdf;
    --light-border: #fdfdfe;
}