.footer{
    grid-column: 1 / 13;
    width: 100%;
    height: 30vh;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer p {
    text-align: center;
    width: 100%;
    color: var(--white);
}
.footer p span{
    color: crimson;
}
.footer a {
    display: flex;
    background: var(--white);
    margin: 0 15px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}
.footer a i {
    font-size: 2.5rem;
    color: #777;
    transition: transform 0.5s;
}
.footer a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(19, 18, 18, 0.05);
    transform: translateY(2px);
}
.footer a i:hover {
    transform: scale(0.90);
}
.footer a:hover .fa-github {
    color: #000000;
}
.footer a:hover .fa-twitter {
    color: #00acee;
}
.footer a:hover .fa-linkedin {
    color: #0099CC;
}
