* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--white);
    border-radius: 10px;
    background: var(--body-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
}

:root {
    --font-color: #474747;
    --blue: #081F62;
    --white: #ffffff;
    --black: black;
    --body-color: #E7E9F0;
    --hover-color: #01227ef6;
    --text-color: #3e4152;

    /* primary color for different types compoents */
    --primary-color: #004085;
    --primary-background: #cce5ff;
    --primary-border: #b8daff;

    /* secondary color for different types compoents */
    --secondary-color: #383d41;
    --secondary-background: #e2e3e5;
    --secondary-border: #d6d8db;

    /* success color for different types compoents */
    --success-color: #155724;
    --success-background: #d4edda;
    --success-border: #c3e6cb;

    /* danger color for different types compoents */
    --danger-color: #b10617;
    --danger-background: #f8d7da;
    --danger-border: #f5c6cb;

    /* warning color for different types compoents */
    --warning-color: #d39f04;
    --warning-background: #fff3cd;
    --warning-border: #ffeeba;

    /* light color for different types compoents */
    --light-color: #818182;
    --light-background: #dfdfdf;
    --light-border: #fdfdfe;
}

body {
    font-family: 'Monda', sans-serif;
    background: var(--body-color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

b {
    color: crimson;
}

a {
    text-decoration: none;
    color: var(--blue);
}

p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

button {
    background: transparent;
    border: none;
}
button:hover{
    cursor: pointer;
}

.doc-btn {
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    margin: 2px;
    margin-top: 1.5rem;
}

.doc-btn-border {
    border: 2px solid var(--blue);
}

.doc-btn-border:hover {
    background: var(--white);
}

.doc-btn-solid {
    color: var(--body-color);
    background: var(--blue);
}

.doc-btn-solid:hover {
    color: var(--white);
    background: var(--hover-color);
}

.doc-btn:hover {
    cursor: pointer;
}