@import url('./../styles/style.css');

main {
    grid-column: 3 / 13;
}

main .component-container {
    grid-column: 1 / 7;
    border-bottom: 2px solid var(--blue);
    margin-bottom: 1.25rem;
}

main .component-container .main-heading {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 300;
}

main .component-container .bold-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1.25rem;
}

main .component-container .small-title {
    font-size: 2rem;
    color: var(--text-color);
}

main .component-container .component-preview {
    border: 2px solid var(--white);
    margin: 1.25rem 0;
    padding: 1.25rem;
}
main .note{
    border: 2px solid var(--danger-color);
    margin: 1.5rem 0;
    padding: 1rem;
}

main .component-container .component-code {
    width: 100%;
    height: auto;
    margin: 1.8rem 0;
}

/* css for mobile responsive */
@media only screen and (max-width: 600px) {
    main {
        grid-column: 1 / 13;
    }

    main .component-container .bold-desc {
        font-size: 1.8rem;
    }

    main .component-container .small-title {
        font-size: 1.5rem;
    }
}